
    <% @medals.each do |medal| %>
<div style="display: block;">
        <td><%= image_tag medal.cover.url(:thumb) %></td>
        <td><%= medal.name %></td>

        <td><%= medal.enabled %></td>
        <td><%= link_to 'Show', medal %></td>
        <td><%= link_to 'Edit', edit_medal_path(medal) %></td>
        <td><%= link_to 'Destroy', medal, method: :delete, data: { confirm: 'Are you sure?' } %></td>
</div>
    <% end %>


<br>

<%= link_to 'New Medal', new_medal_path %>
