<!DOCTYPE HTML>
<html>
<head>
  <title><%= content_for?(:title) ? yield(:title) : "婚格" %></title>
  <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width, height=device-height, target-densitydpi=medium-dpi" />  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <script type="application/javascript">

      var logo_location = {
          height: 45,
          cols: [
              {
                  gravity:0.6,
                  css: 'background',
                  view: 'template',
                  template: '<%= link_to image_tag('logo.png' , :class => 'head-logo') , root_path %>'
              } ,
              {
                  gravity:0.4,
                  css: 'background',
                  view: 'template',
                  template: '',
                  borderless:true
              }
          ]
      };
  </script>
</head>
<body class="background">
<% if current_user %>
    <%= link_to('登出', destroy_user_session_path, :method => :delete) %> |
    <%= link_to('修改密碼', edit_registration_path(:user)) %>
<% else %>
    <%= link_to('註冊', new_registration_path(:user)) %> |
    <%= link_to('登入', new_session_path(:user)) %>
<% end %>

    <%=yield%>

</body>
</html>